.mainContainer {
  margin-bottom: 60px;
}
.glyphicon {
font-size:29px;
}
#searchInput{
  height:50px;
}
.validCountry {
  display:none;
  color: red;
}
.navbar-fixed-bottom {
 min-height:30px; 
}

.btn-lg, .panel {
  display:none;
 }