.mainContainer {
  margin-bottom: 50px;
}
.glyphicon {
font-size:29px;
}
#searchInput{
  height:50px;
}
.validCountry {
  display:none;
  color: red;
}
.navbar-fixed-bottom {
 min-height:30px; 
}

.btn-lg, .panel, .nameRow {
  display:none;
 }

 .glyphicon-floppy-disk{
  font-size:40px;
  margin-top: 5px;  
 }
.jumbotron {
    padding-left: 40px;
}